@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-montserrat: 'Montserrat', sans-serif;

*{
  margin: 0;
}

.navbar{
  height: 6rem;
  background-color: #161419;
  padding: 0 10rem;
}

.nav-block{
  display: flex;
}

.navbarLogo img{
  height: 3rem;
  cursor: pointer;

}

.nav-block-items{
  display: flex;
  align-items: center;
}

.nav-item{
  list-style-type: none;
}

.nav-item img{
  vertical-align: 0;
  margin-left: 1rem;
  cursor: pointer;

}

.nav-link{
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  font-family: $font-montserrat;
}


.nav-item a:hover{
  transition: .6s;
  color: #90816A;
  border-bottom: 1px solid grey;
}
.header-pic{
  margin: 0;
  padding: 0 10rem;
}

.header-pic img{
  height: 30rem;
  width: 100%;
}

