<div class="header-block">
  <div class="navbar">
    <a class="navbarLogo">
      <img src="/assets/img/Layer 1.png">
    </a>
    <div class="nav-block">
      <ul class="nav-block-items">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/favorite" class="nav-link">Favorite</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <img src="/assets/img/shopping bag icon.png">
        </li>
      </ul>
    </div>
  </div>
<!--  <div class="header-pic">-->
<!--    <img src="/assets/img/pexels-jakub-novacek-924824.jpg">-->
<!--  </div>-->
</div>
