@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-montserrat: 'Montserrat', sans-serif;

*{
  margin: 0;
}

.footer {
  background-color: #161419;
  height: 6rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
}

.footer-nav a{
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  color: white;
  font-family: $font-montserrat;
  margin-right: 5rem;
}

.footer-nav a:hover{
  color: #90816A;
  transition: .3s;
 text-decoration: none;
}

.social-icons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social-icons img{
  margin-left: 2rem;
}




