<div class="foooter-block">
  <div class="footer">
    <div class="footer-nav">
      <span><a class="footer-nav-link">Products</a></span>
      <span><a class="footer-nav-link">About</a></span>
      <span><a class="footer-nav-link">Contact</a></span>
    </div>
    <div class="social-icons">
      <img src="/assets/img/facebook-24.png" alt="facebook">
      <img src="/assets/img/instagram-24.png" alt="instagram">
      <img src="/assets/img/twitter-24.png" alt="twitter">
    </div>
  </div>
</div>
