<main >
  <div class="films-block" >
    <div class="film" class="film" *ngFor="let film of movies">
      <img src="{{film.image}}">
      <div class="about-film">
        <div class="price">{{ film.price }}$</div>
        <a href="#">{{ film.name }} </a>
        <button *ngIf="film.filmInFavorite; else del" (click)=" removeFromFavorite(film)" class="btn-favotite">Delete</button>
        <ng-template #del>
          <button (click)="addToFavorite(film)" class="btn-favotite">Favorite</button>
        </ng-template>
      </div>
    </div>
  </div>
</main>
