<main >
  <div class="total">
    <span> Total price - {{total()}}$</span>
    <button (click)="clearLoc()" class=" clearFavorite">Delete all</button>
  </div>
  <div class="films-block " >
    <div class="film"  *ngFor="let film of favorite; index as i">
      <img src="{{film.image}} " alt="img">
      <div class="about-film">
        <div class="price">{{ film.price }}$</div>
        <a href="#">{{ film.name }}</a>
        <button (click)="removeFromFavorite(film,i)"  class="btn-favotite">Delete</button>
      </div>
    </div>
  </div>

</main>

