$font-r: 'Raleway', sans-serif;;

*{
  margin: 0;
}

main{
  padding: 0 10rem;
}

.total{
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  //border: 1px solid red;
  margin: 2rem 0;
}

.films-block{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 15px;
  display: grid;
  width: 100%;
}

.film{
  margin: 0 0 2rem 0;
  background-color: #222222;
}

.film img{
  width: 100%;
}

.about-film{
  display: flex;
  flex-direction: column;
}

.about-film a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  margin-left: 1rem;
}

.price{
  color: #90816A;
  margin-left: 1rem;
}

.btn-favotite{
  color: white;
  background-color: #222222;
  border: 2px solid #90816A;
  width: 90%;
  margin: .5rem auto 1rem;
  transition-duration: 0.2s;
  outline: none;
}

.clearFavorite{
  color: white;
  background-color: #222222;
  border: 2px solid #90816A;
  width: 9rem;
  height: 2.3rem;
  margin:  auto 1rem;
  transition-duration: 0.2s;
  outline: none;
}

.btn-favotite:hover{
  background-color: #90816A;
}

.btn-favotite:active{
  background-color: grey;
  border: 2px solid grey;
}
